#coin {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coin-inner {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: gold;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
}

#coin-value {
    color: goldenrod;
    font-weight: bold;
    font-size: 48px;
    margin:0;
    padding:0;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
}

#curved-text, #coin-value {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.50), 0 0 1px rgba(0, 0, 0, 0.50), 0 0 1px rgba(0, 0, 0, 0.50);
  font-weight: bold;
}