body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.paper-money {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #8FBC8F; /* Green color */
    border: 2px solid #556B2F; /* Dark Olive Green border */
}

.corner {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0;
    padding-bottom: 0;
}

.top-left {
    top: 4px;
    left: 4px;
}

.top-right {
    top: 4px;
    right: 4px;
}

.bottom-left {
    bottom: 4px;
    left: 4px;
}

.bottom-right {
    bottom: 4px;
    right: 4px;
}
