body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Flag styling */
.lang-meta {
    position: relative;
}

#sun {
    height: 66px;
    width: 98px;
    position: absolute;
    top: 30.45px;
    left: 0;
    min-height: 1px;
}

.triangle-container {
    height: 66px;
    width: 98px;
    position: absolute;
    top: 31.45px;
    left: 1px;
    min-height: 1px;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 64px solid #3498db;
    position: absolute;
    left: 0;
    display: none;
    z-index: 1;
}

.ray {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom center;
    z-index: 3;
}

/* Country  styling */

#countryCanvas {
    border: 2px solid #000;
    background-color: #cceeff;
}

/* GUI Styling */

:root {
    --header: rgba(55, 55, 55, 1);
    --header-hover: rgba(90, 90, 90, 1);
    --bg-main: rgba(255, 255, 255, 1);
    --bg-light: rgba(240, 240, 240, 1);
    --dark-solid: rgba(30, 30, 30, 1);

    --monospace: Consolas, monospace;
    --serif: Georgia, serif;
    --sans-serif: Helvetica, Arial, sans-serif;
}

#options {
    display: block; 
    width: 300px;
    position: absolute;
    font-family: var(--monospace);
    border: solid 1px var(--dark-solid);
    margin: 10px;
    padding-bottom: 0.3em;
    background: var(--bg-light);
    font-size: 10px;
}

.tab {
    border-bottom: 1px solid var(--dark-solid);
    height: 2.2em;
    display: flex;
    justify-content: space-between;
}

button.options {
    width: 100%;
    background-color: var(--bg-main);
    font-weight: bold;
    border: none;
    transition: 0.2s;
}

button.options:hover {
    background-color: var(--header-hover);
    color: white;
}

button.active {
    background-color: var(--header);
    color: white;
}

.tabcontent {
    display: none;
    padding: 0 12px 2px 12px;
    opacity: 0.9;
    text-align: justify;
}

.tabcontent a {
    color: #1d1b1c;
    font-weight: bold;
    text-decoration: underline;
}

.options-header {
    background-color: var(--header-hover);
    border-bottom: 1px solid var(--dark-solid);
    padding: 0.4em 1em;
    display: flex;
    cursor: move;
}

.options-header h1 {
    font-size: 16px;
    margin: 0.1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.options-header button {
    width: 2.5em;
    height: 2.5em;
    margin-left: 2px;
    margin-right: 2px;
    color: black;
    background: none;
    font-size: 0.75em;
    border: 1px solid black;
    cursor: pointer;
}

/* Date counter styling */

.container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.counter {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons button {
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Terrain styling */
#terrainCanvas {
    display: block;
}